<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Pop2Owa.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<userSettings>
		<Pop2Owa.Properties.Settings1>
			<setting name="exchangeDomain" serializeAs="String">
				<value>dir</value>
			</setting>
			<setting name="exchangeSaveOnSend" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="exchangeURL" serializeAs="String">
				<value>https://email.accenture.com/EWS/Exchange.asmx</value>
			</setting>
			<setting name="POP3Port" serializeAs="String">
				<value>110</value>
			</setting>
			<setting name="proxyDomain" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="proxyPassword" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="proxyServer" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="proxyUser" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="serverip" serializeAs="String">
				<value>127.0.0.1</value>
			</setting>
			<setting name="SMTPPort" serializeAs="String">
				<value>25</value>
			</setting>
		</Pop2Owa.Properties.Settings1>
	</userSettings>
</configuration>