

{% if include.object.url == undefined %}
<!-- NOT HAS URL -->
	{% if include.object.post == undefined %}
	<!-- NOT IS A POST -->
		{% assign itemurl = "javascript:void(0)" %}		
		{% assign itemname = include.name %}
	{% else %}
		{% assign post = (site.posts | where:"name", include.object.post) | where:"lang", include.lang %}
		{% assign itemurl = post.first.url | prepend: site.baseurl %}
		{% assign itemname = post.first.title %}
	{% endif %}
{% else %}
<!-- HAS URL -->
	{% assign itemurl = include.object.url | prepend: site.baseurl %}		
	{% assign itemname = include.name %}
{% endif %}
<!-- {{include.name}} -->
<!-- {{itemurl}} -->
<!-- {{itemname}} -->
<!-- {{include.object.post}} -->


