<!DOCTYPE html>
{% include getlang path=page.path %}
<html lang="{{lang}}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>POP2OWA&nbsp;
  {% if page.title %}
    {{ page.title }}
  {% else %}
    Default Page Title
  {% endif %}
</title>
{% if page.is_doc %}
	{% assign docs=site.docs | where:"name", page.name %}
	{% for doc in docs %}
{% include getlang path=doc.path %}
<link rel="alternate" hreflang="{{lang }}" href="{{ doc.url | prepend: site.baseurl }}" />
	{% endfor %}
{% endif %}
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="{{ "/css/stylesheet.css" | prepend: site.baseurl }}" />
{% include googleanalytics.html %}

<!--[if lt IE 8]>
<script type="text/javascript" src="/js/CSSMenu.js"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->

<script type="text/javascript">
    window.cookieconsent_options = {
      "message":"This site use Google AdSense and Google Analytics and those use cookies internally.",
      "dismiss":"Got it!",
      "learnMore":"More info",
      "link":null,
      "theme":"dark-bottom"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->

</head>

<body>

<div class="banner">
	{% include googleads.html %}
</div>
<div class="heading">
<img src="{{"/img/top.gif" | prepend: site.baseurl }}" width="790" height="114" alt="Logo image"/>

</div>

<div class="leftsidebar">
<img src="{{"/img/side_top.gif" | prepend: site.baseurl }}" width="178" height="89" alt="Header image"/>

<div id="menuwrapper">
	{% include nav.html %}
</div>
{% if page.is_doc %}
	{% assign docs=site.docs | where:"name", page.name | sort: 'path' %}
	{% for doc in docs %}
	{% include getlang path=doc.path %}
	<a rel="alternate" href="{{ doc.url | prepend: site.baseurl }}"><i class="flags flags-{{lang}}"></i></a>
	{% endfor %}
{% else %}
	<a rel="alternate" href="{{site.baseurl}}/"><i class="flags flags-en"></i></a><a rel="alternate" href="{{site.baseurl}}/es/"><i class="flags flags-es"></i></a>
{% endif %}
<BR style="clear: both;"/>
<a href="http://sourceforge.net"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=152204&amp;type=2" width="125" height="37" alt="SourceForge.net Logo" /></a>
<BR />
</div>
<article class="thebody">
	{% if page.title %}
	<p class="breadcrumbs"><strong>{{ page.title }}</strong></p>
	{% else %}
		{% if title %}
		<p class="breadcrumbs"><strong>{{ title }}</strong></p>
		{% endif %}
	{% endif %}
    {{ content }}
</article>
<!-- Before Footer -->
{% include javascripts.html %}
</body>
</html>
