<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="file" xsi:type="File"
            layout="${longdate} ${callsite} ${message} ${exception:format=tostring}" 
            fileName="${basedir}/logs/logfile.txt" 
            keepFileOpen="false"
            encoding="iso-8859-2" />
		<target name="debugger" xsi:type="Debugger" layout="${longdate} ${callsite} ${message} ${exception:format=tostring}" />
		<target name="notifyIcon" xsi:type="FormControl" append="false" controlName="notifyIcon1" formName="MainForm" layout="${message}" /> 
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="file, debugger, notifyIcon" />
    </rules>
</nlog>